  <div class="footer">
    <div class="time">Last updated: <%=date%></div>
    Source: <a href="https://github.com/silver-blue-space/github-rank" target="_blank">github-hot</a>
  </div>
</body>
</html>
