  <div class="footer">
    <div class="time">Last cache created on <%=date%> by Github API v3.</div>
    Create by <a href="https://silver-blue-space.github.io/" target="_blank">silver-blue™</a>.
  </div>
</body>
</html>