  <div class="footer">
    <div class="time">数据更新于 <%=date%>（北京时间）</div>
    Source: <a href="https://github.com/silver-blue-space/github-rank" target="_blank">github-hot</a>
  </div>
</body>
</html>
